<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">New Restaurant</h1>
        <div class="col-md-6 offset-md-3">

            <form action="/restaurants" method="POST" novalidate class="validated-form" enctype="multipart/form-data" >

                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="restaurant[title]" required>
                    <div class="valid-feedback">Good!</div>
                </div>


                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="restaurant[location]" required>
                    <div class="valid-feedback">Good!</div>
                </div>


                <div class="mb-3">
                    <label class="form-label" for="price">General Price per Person</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="restaurant[price]" required>
                        <div class="valid-feedback">Good!</div>
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description"
                        name="restaurant[description]" required></textarea>
                    <div class="valid-feedback">Good!</div>
                </div>



                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="image" name="image" multiple>
                    <label class="input-group-text" for="image">Browse</label>
                </div>


                <div class="mb-3">
                    <button class="btn btn-success">Add Restaurant</button>
                </div>

            </form>

            <div class="padding-bottom-adjust">
                <a class="btn btn-outline-secondary" href="/restaurants">
                    All Restaurants
                </a>
            </div>

        </div>
    </div>

